<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEngineService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ripanpc/LeadToolsEngineIISHost/EngineService.svc/EngineService" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEngineService" contract="LeadToolsEngineService.IEngineService" name="BasicHttpBinding_IEngineService"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>