<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <clear/>
    <add key="EnvironmentVariable" value="EnvLateetud"/>
    <add key="OrcEngineType" value="LEAD"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="IISHostLeadTools.EngineService" behaviorConfiguration="mexBehavior">
        <endpoint bindingConfiguration="longTimeoutBinding" address="EngineService" binding="basicHttpBinding" contract="IISHostLeadTools.IEngineService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="longTimeoutBinding" receiveTimeout="00:30:00" sendTimeout="00:30:00"/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>